@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans+Condensed:300);

body {
  background: #dde;
}
label {
  font-family: "Open Sans Condensed";
  font-size: 1.1em
}
.container {
  margin: 40px auto;
  width: 640px;
}
#simonouter {
  display: inline;
  width: 600px;
}
.quarter {
    height:290px;
    width: 290px;  
    position: relative;
    border: 10px solid black;
    float: left;
    margin: 0;
    z-index: 10;
}
#pad1 {
    background-color:#0a0;
    -moz-border-radius: 300px 0 0 0;
    border-radius: 300px 0 0 0;
    border-top: 20px solid black;
    border-left: 20px solid black;
}
#pad1.pressed {
    background-color:#0f0 !important;  
}
#pad2 {
    background-color: #a00;
    -moz-border-radius: 0 300px 0 0;
    border-radius: 0 300px 0 0;
    border-top: 20px solid black;
    border-right: 20px solid black;
}
#pad2.pressed {
    background-color:#f00 !important;  
}
#pad3 {
    background-color: #aa0;
    -moz-border-radius: 0 0 0 300px;
    border-radius: 0 0 0 300px;
    border-bottom: 20px solid black;
    border-left: 20px solid black;
}
#pad3.pressed {
    background-color:#ff0 !important;  
}
#pad4 {
    background-color: #00a;
    -moz-border-radius: 0 0 300px 0;
    border-radius: 0 0 300px 0;
    border-bottom: 20px solid black;
    border-right: 20px solid black;
}
#pad4.pressed {
    background-color:#00f !important;  
}
#control-panel {
    background-color:white;
    position: relative;
    z-index: 11;
    top: 140px;
    left: 140px;
    width: 300px;
    height: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    border: 15px solid black;
    color: black;
}
#control-panel h1 {
  font-size: 50px;
  letter-spacing: 3px;
  display: inline-block;
  position: absolute;
  left: 45px;
  top: 15px;
  font-family: "Alfa Slab One", serif;
  font-weight: bold;
}
#display-group {
  display: inline-block;
  position: absolute; 
  top: 100px;
  left: 30px;
  width: 70px;
}

#display {
  width: 60px;
  background-color: black;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  color: red;
  text-align: right;
  font-size: 40px;
  padding: 5px;
  line-height: 40px;
  margin: 5px;
  font-family: "Courier New", monospace;
}
#control-panel label {
  margin: auto;
  font-weight: normal;
  font-stretch: ultra-condensed;
}
#starter-group {
  display: inline-block;
  position: absolute; 
  top: 122px;
  left: 120px;
  width: 50px;
}
#start-button {
  background-color: red;
  border: 4px solid black;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  margin: 0 auto 3px auto;
}
#strict-group {
  display: inline-block;
  position: absolute; 
  top: 109px;
  left: 190px;
  width: 60px;
}
#strict-led {
  background-color: #700;
  border: 1px solid black;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin: 0 auto 3px auto;
}
#strict-button {
  background-color: yellow;
  border: 4px solid black;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  margin: 0 auto 3px auto;
}
#onoff-group {
  display: block;
  position: absolute; 
  top: 210px;
  left: 88px;
  width: 150px;
}
#onoff-group label, #onoff-group div {
  float: left;
}
#onoff-group label {
  margin-top: 3px;
}
#onoff {
  background-color: black;
  border: 2px solid black;
  width: 60px;
  height: 25px;
  margin: 0 5px 0 5px;
}
#slider {
    background-color: #0af;
    height: 100%;
    width: 40%;
    float: left;
}
.shadowed-sm {
  -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.81);
-moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.81);
box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.81);
}
.shadowed-lg {
  -webkit-box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.61);
box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.61);
}
.light-on {
  background-color: red !important;
  -webkit-box-shadow: 0 0 6px 4px rgba(255, 0, 0, 0.4);
-moz-box-shadow: 0 0 6px 4px rgba(255, 0, 0, 0.4);
box-shadow: 0 0 6px 4px rgba(255, 0, 0, 0.4);
}